body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #14203b;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #303030;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #494bc4;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

button {
    padding: 10px;
    background-color: #292a79;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2f3085;
}

#macroLog {
    list-style-type: none;
    padding: 0;
}

#macroLog li {
   color: white;
    padding: 10px;
    background-color: #303030;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#totals {
    margin-top: 20px;
    text-align: center;
    color: white;
}
